<%= render "shared/navbar" %>

<%= video_tag asset_path("cinema_background.mp4"), autoplay: :autoplay, loop: :loop, muted: :muted, class: "home_video"%>

<div class="watch-list">
  <h1 class="my-element">Watch List</h1>
</div>


<div class="list-cards">
  <% @lists.each do |list| %>
    <%= link_to list_path(list) do %>
      <div class="list-card">
        <%= list.name %>
      </div>
    <% end %>
  <% end %>
</div>
