.movie-cards {
  margin-top: 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 30px;
  column-gap: 50px;
  align-items: center;
}

.movie-card {
  border: 1px solid white;
  border-radius: 5px;
  margin: 20px;
  width: 320px;

  img {
    width: 100%;
    border-radius: 5px;
    object-fit: cover;
  }
}

.title-rating {
  border-bottom: 1px solid white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  padding-left: 15px;
  padding-right: 15px;
}

.comment {
  height: 200px;
  padding-top: 20px;
  padding-left: 15px;
  padding-right: 15px;
  border-bottom: 1px solid white;
  #comment {
    text-align: center;
  }
}

.delete-button {
  padding-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.add-button {
  font-size: 25px;
  padding: 20px;
  float: right;
  position: sticky;
  bottom: 0;
}
