<div class="navbar">
  <%= link_to root_path do %>
    <button type="button" class="btn btn-outline-light">Home</button>
  <% end %>
  <%= link_to new_list_path do %>
    <button type="button" class="btn btn-outline-light">New List</button>
  <% end %>
</div>
